<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <h1>Welcome to Pokemon World
    </h1>

    <ul>
        <% for (let i = 0; i < pokemon.length; i++){ %>
        <li>
            <%= pokemon[i].name %>
            <a href="/pokemon/<%= i %>"><img src="<%= pokemon[i].img %>"></img></a>
        </li>
        <% } %>
    </ul>

    <style>
        body {
            background-color: red;
            color: whitesmoke;;
        }
    </style>
</body>
</html>